*{
    margin: 0;
    padding: 0;
}

:root {
    --color-c3po: #ad7d37;
    --color-darthvader: #381010;
    --color-galaxy: #000000;
    --color-obiwan: #7e7863;
    --color-r2d2: #2e557c;
    --color-yoda: #334e30;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    background: linear-gradient(90deg, rgba(51,78,48,1) 0%, rgba(173,125,55,1) 35%, rgba(46,85,124,1) 92%);
    margin-bottom: 1rem;
}

h1 {
    font-family: 'jedi', Arial;
    padding-left: 1rem;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-border-color: var(--color-galaxy);
    --bs-btn-color: var(--color-galaxy);
    --bs-btn-bg: var(--color-yoda);
    --bs-btn-hover-color: var(--color-galaxy);
    --bs-btn-hover-bg: var(--color-c3po);
    --bs-btn-hover-border-color: var(--color-galaxy);
}

.resultArea {
    border-radius: var(--bs-border-radius);
    min-width: 100%;
    padding: 0.9375rem;
}

.lightsabre {
    text-align: center;
}

img {
    margin: auto;
    max-width: 80%;
}
